<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupId</key>
	<string>$(CUSTOM_GROUP_ID)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(INFOPLIST_KEY_CFBundleDisplayName)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconStarfield</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconStarfield</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSweden</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSweden</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGreyscale</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreyscale</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWaves</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWaves</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconChromaticAberration</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconChromaticAberration</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDefaultBrutalist</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDefaultBrutalist</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGreyscaleBrutalist</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreyscaleBrutalist</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCanaryBrutalist</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCanaryBrutalist</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconStarfield</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconStarfield</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSweden</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconSweden</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGreyscale</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreyscale</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconRainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconWaves</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWaves</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconChromaticAberration</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconChromaticAberration</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDefaultBrutalist</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDefaultBrutalist</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGreyscaleBrutalist</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreyscaleBrutalist</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCanaryBrutalist</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconCanaryBrutalist</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fluxer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSpokenName</key>
	<string>$(INFOPLIST_KEY_CFBundleDisplayName)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fluxer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fluxer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fluxer.receive_sharing_intent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMedia-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FLTEnableImpeller</key>
	<true/>
	<key>FLTEnableWideGamut</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>firefox</string>
		<string>ddgQuickLink</string>
		<string>qwantbrowser</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Take photos to send in a chat.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Fluxer does not use your location. A bundled library references location APIs, which requires this entry for App Store submission.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Fluxer does not use your location. A bundled library references location APIs, which requires this entry for App Store submission.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Leave voice messages, audio, and video calls.</string>
	<key>NSMotionUsageDescription</key>
	<string>Add subtle motion to the splash and login backgrounds.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save images and videos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Share photos from your library in a chat.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSVoIPUsageDescription</key>
	<string>Support for receiving calls in the background</string>
	<key>RTCAppGroupIdentifier</key>
	<string>group.com.fluxer</string>
	<key>RTCScreenSharingExtension</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER).BroadcastExtension</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>audio</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
